<h1>Nova Postagem</h1>

<form method="POST" action="/postagem">
    <input type="hidden" name="usuarioId" value="<%= usuarioId %>">
    <input type="hidden" name="albumId" value="<%= albumId %>">
    <label for="texto">Texto:</label>
    <textarea name="texto" id="texto" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="Postar">
</form>
